<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Page</title>
  </head>

  <body>
    <h1>Welcome to the test page. This is a Django powered page.</h1>

    <h3>Value of variable1: {{ variable1 }}</h3>
    <h3>Value of variable2: {{ variable2 }}</h3>
    <h3>Value of variable3: {{ variable3 }}</h3>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam totam
      itaque odio voluptates. Sunt, id at odio reprehenderit doloribus
      doloremque quod est autem magnam maxime ipsum iusto vero reiciendis
      eveniet dolor, commodi consectetur! Cumque, ipsa. Asperiores, minus
      assumenda. Possimus odit vero deleniti et earum ipsum facilis iste
      repellendus veritatis amet?
    </p>
  </body>
</html>
